<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<button mat-icon-button (click)="openDialog($event)">
    <mat-icon aria-label="Example icon-button with a heart icon">add_circle</mat-icon>
</button>

<div >
  <mat-table [dataSource]="questions" matSort class="mat-elevation-z8">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>
      

      <!-- Title Column -->
      <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
      </ng-container>

      <!-- Dscription Column -->
      <ng-container matColumnDef="body">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
          <mat-cell *matCellDef="let row">
              <app-code-editor class="editor" [code]="row.body" [readOnly]='true'></app-code-editor>
          </mat-cell>
      </ng-container>

      <!-- Answer Column -->
      <ng-container matColumnDef="answer">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Answer </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.answer}} </mat-cell>
    </ng-container>

      <!-- creationDate Column -->
      <ng-container matColumnDef="creationDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.creationDate}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
